// bower:scss
// endbower
@import "col-content";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

header {
  margin-bottom: 0;
}

.row, .rcAppTemplateHeaderWrapper {
  max-width: 90.063em;
}

.button {
  width: 100%;
  margin-top: 1rem;
  &.inline {
    width: auto;
  }
}

@for $index from 1 through 6 {
  h#{$index}{
    padding-left: 10px;
    margin-top: 0;
  }
}

.blockContent {
  padding: 1rem;
  transition: all 200ms ease-out;
  &:nth-child(even) {
    // background-color: rgba(0, 0, 0, 0.25);
  }
  &:nth-child(odd) {
    // background-color: rgba(0, 0, 0, 0.125);
  }
  img {
    border-radius: 0.25rem;
    border: 2px solid white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    &:hover {
      box-shadow: 0 0 1px 2px rgba(red, 0.25);
    }
  }
}

div form {
  margin-bottom: 1rem;
}

.blockImages {
  padding: 1rem;
}