<pre><code class="language-markup">
&lt;form&gt;
  &lt;div class="row"&gt;
    &lt;div class="large-12 columns"&gt;
      &lt;label&gt;Input Label
        &lt;input ng-model="large12" type="text" placeholder="Enter whatever you feel like..." /&gt;
      &lt;/label&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="row"&gt;
    &lt;div class="large-4 columns"&gt;
      &lt;label&gt;Input Label
        &lt;input ng-model="columns4Second" type="text" placeholder="Enter text" /&gt;
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="large-4 columns"&gt;
      &lt;label&gt;Input Label
        &lt;input ng-model="columns4" type="text" placeholder="Enter something" /&gt;
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="large-4 columns"&gt;
      &lt;div class="row collapse"&gt;
        &lt;label&gt;Input Label&lt;/label&gt;
        &lt;div class="small-9 columns"&gt;
          &lt;input ng-model="columns9" type="text" placeholder="Enter.. whatava" /&gt;
        &lt;/div&gt;
        &lt;div class="small-3 columns"&gt;
          &lt;span class="postfix"&gt;.com&lt;/span&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="row"&gt;
    &lt;div class="large-12 columns"&gt;
      &lt;label&gt;Select Box
        &lt;select&gt;
          &lt;option value="husker"&gt;Husker&lt;/option&gt;
          &lt;option value="starbuck"&gt;Starbuck&lt;/option&gt;
          &lt;option value="hotdog"&gt;Hot Dog&lt;/option&gt;
          &lt;option value="apollo"&gt;Apollo&lt;/option&gt;
        &lt;/select&gt;
      &lt;/label&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="row"&gt;
    &lt;div class="large-6 columns"&gt;
      &lt;label&gt;Choose Your Favorite&lt;/label&gt;
      &lt;input ng-model="pokemon['red']" type="radio" name="pokemon" value="Red" id="pokemonRed"&gt;&lt;label for="pokemonRed"&gt;Red&lt;/label&gt;
      &lt;input ng-model="pokemon['blue']" type="radio" name="pokemon" value="Blue" id="pokemonBlue"&gt;&lt;label for="pokemonBlue"&gt;Blue&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="large-6 columns"&gt;
      &lt;label&gt;Check these out&lt;/label&gt;
      &lt;input ng-model="checked[1]" id="checkbox1" type="checkbox"&gt;&lt;label for="checkbox1"&gt;Checkbox 1&lt;/label&gt;
      &lt;input ng-model="checked[2]" id="checkbox2" type="checkbox"&gt;&lt;label for="checkbox2"&gt;Checkbox 2&lt;/label&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="row"&gt;
    &lt;div class="large-12 columns"&gt;
      &lt;label&gt;Textarea Label
        &lt;textarea placeholder="This is a textarea"&gt;&lt;/textarea&gt;
      &lt;/label&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;

&lt;form&gt;
  &lt;div class="row"&gt;
    &lt;div class="small-8"&gt;
      &lt;div class="row"&gt;
        &lt;div class="small-3 columns"&gt;
          &lt;label for="right-label" class="right inline"&gt;Label&lt;/label&gt;
        &lt;/div&gt;
        &lt;div class="small-9 columns"&gt;
          &lt;input type="text" id="right-label" placeholder="Inline Text Input" ng-model="text"&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;
</code></pre>