<pre><code class="language-markup">
&lt;div class="row"&gt;
  &lt;div class="small-8 columns"&gt;
      &lt;div class="row"&gt;
        &lt;div class="small-8 columns"&gt;
          &lt;div class="row"&gt;
            &lt;div class="small-8 columns"&gt;Nested 8&lt;/div&gt;
            &lt;div class="small-4 columns"&gt;Nested 4&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="small-4 columns"&gt;4&lt;/div&gt;
      &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="small-4 columns"&gt;4&lt;/div&gt;
&lt;/div&gt;
</code></pre>