<pre><code class="language-markup">
&lt;div class="row"&gt;
	&lt;div class="medium-6 large-4 columns show-for-medium-up"&gt;
		&lt;div rc-groupbox&gt;
		    &lt;div rc-groupbox-heading&gt;
		        Sample
		    &lt;/div&gt;
		    &lt;p&gt;This is a groupbox that will be a tab on mobile&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="medium-6 large-8 columns show-for-medium-up"&gt;
		&lt;div rc-groupbox&gt;
		    &lt;div rc-groupbox-heading&gt;
		        Example
		    &lt;/div&gt;
		    &lt;p&gt;This is a groupbox that will be a tab on mobile&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class="small-12 columns show-for-small-only"&gt;
	&lt;div rc-tabset&gt;
	        &lt;div rc-tab heading="Sample"&gt;
	        &lt;p&gt;This is a groupbox that will be a tab on mobile&lt;/p&gt;
	        &lt;/div&gt;
	        &lt;div rc-tab&gt;
	            &lt;div rc-tab-heading&gt;Example&lt;/div&gt;
	            &lt;p&gt;This is a groupbox that will be a tab on mobile&lt;/p&gt;
	        &lt;/div&gt;
	    &lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code></pre>